<div class="modal-header">
    <h3 class="modal-title">Delete Data - {{ entityToDelete.label }}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div>
            <div class="alert alert-warning" role="alert">
                <strong>Warning!</strong> Deleting the data may affect existing <strong>trails</strong> and <strong>relationships</strong>
            </div>

            <div ng-if="trailsInUse.length > 0">
                <h4>Trails</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <tbody>
                    <tr ng-repeat="trail in trailsInUse">
                        <td class="col-xs-11 col-sm-11 col-md-11">
                            <a href="/trails/{{trail._id}}" target="_blank">{{ trail.name }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div ng-if="relationships.length > 0">
                <h4>Relationships</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <tbody>
                    <tr ng-repeat="relation in relationships track by $index">
                        <td class="col-xs-11 col-sm-11 col-md-11">
                            {{ relation }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-danger" type="button" ng-click="ok()">Delete Anyway</button>
</div>