<div class="trails-list container">
    <h1>Trails</h1>

    <form ng-submit="save()" name="form" novalidate="" class="thing-form">
        <p class="input-group">
            <input class="form-control" type="text" placeholder="Enter a new trail name" ng-model="newTrail.name"/>
            <span class="input-group-btn">
                <input type="submit" value="Add" class="btn btn-primary"/>
            </span>
        </p>
    </form>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="input-group pull-right col-md-3 col-sm-12">
                <input type="search" ng-model="searchText" placeholder="Search" class="form-control"/>

                <div dropdown="" on-toggle="toggled(open)" class="dropdown input-group-btn">
                    <button dropdown-toggle="" class="btn btn-primary dropdown-toggle">
                        {{ orderProperty==='1' ? 'Ascending' : 'Descending' }}
                        <span class="caret"></span>
                    </button>

                    <ul role="menu" class="dropdown-menu">
                        <li ng-click="orderProperty = '1'"><a>Ascending</a></li>
                        <li ng-click="orderProperty = '-1'"><a>Descending</a></li>
                    </ul>
                </div>
            </div>

            <ul class="nav nav-tabs nav-stacked col-md-9 col-sm-12">
                <li dir-paginate="trail in trails | itemsPerPage: perPage" total-items="trailsCount.count">
                    <p>
                        <a href="/trails/{{trail._id}}">{{ trail.name }}</a>
                        <span ng-if="trail.removable">
                            <button ng-click="remove(trail)" class="btn">&times;</button>
                        </span>
                    </p>
                </li>
            </ul>

            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="col-md-12"></dir-pagination-controls>
        </div>
    </div>

    <p>Total number of trails: {{trailsCount.count}}</p>
</div>
