/* NAV BAR */
.nav-pic {
    margin: -2px 5px 0 0;
    max-height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.nav-tabs {
    margin-top: 30px;
}

.navbar-collapse.in {
    overflow: visible!important;
}

.navbar-collapse.in #login-dropdown-list {
    left: 0px!important;
}

#login-buttons {
    padding: 10px 15px;
    line-height: 20px;
}

@media (min-width: 768px) {
    #login-buttons {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
