<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" ng-click="isCollapsed = !isCollapsed" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">StoryFacets</a>
        </div>
        <div collapse="!isCollapsed" class="navbar-main navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/data" ng-show="$root.currentUser">Data</a></li>
                <li><a href="/trails">Trails</a> </li>
                <li><a href="/dashboards">Dashboards</a> </li>
                <li><a href="/slideshows">Slideshows</a></li>
                <li><a href="/login" ng-hide="$root.currentUser">Login</a></li>
                <li><a href="/register" ng-hide="$root.currentUser">Sign up</a></li>
                <li><a href="/profile" ng-show="$root.currentUser">{{ $root.currentUser.username}}</a></li>
                <li><a href="/logout" ng-show="$root.currentUser">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

