<div class="dashboards-list container">
  <h1>Dashboards</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="input-group pull-right col-md-3 col-sm-12">
        <input type="search" ng-model="searchText" placeholder="Search" class="form-control"/>
        <div dropdown="" on-toggle="toggled(open)" class="dropdown input-group-btn">
          <button dropdown-toggle="" class="btn btn-primary dropdown-toggle">{{ orderProperty==='1' ? 'Ascending' : 'Descending' }}<span class="caret"></span></button>
          <ul role="menu" class="dropdown-menu">
            <li ng-click="orderProperty='1'"><a>Ascending</a></li>
            <li ng-click="orderProperty='-1'"><a>Descending</a></li>
          </ul>
        </div>
      </div>
      <ul class="nav nav-tabs nav-stacked col-md-9 col-sm-12">
        <li dir-paginate="dashboard in dashboards | itemsPerPage: perPage" total-items="dashboardsCount.count">
          <p><a href="/dashboards/{{dashboard._id}}">{{ dashboard.name }}</a>
            <button ng-click="remove(dashboard)" class="btn">&times;</button>
          </p>
        </li>
      </ul>
      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="col-md-12"></dir-pagination-controls>
    </div>
  </div>
  <p>Total number of dashboards: {{dashboardsCount.count}}</p>
</div>
