.panel-body ul.dropdown-menu li {
    list-style: none;
}

.dashboard-main .panel-heading h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.dash-md-content {
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform-origin: center center;
}

.dash-md-content img {
    width: 100%;
    height: auto;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
