<div class="col-sm-12 nopadding dashboard-main" style="height:100%; overflow:hidden;">
    <div class="panel panel-primary" style="height:100%;">
        <div class="panel-heading">
            <h3>{{dashboard.name }}<small><a class="btn btn-link" href="{{originalExplorationLink}}"> View Original Exploration <i class="fa fa-street-view"></i> </a></small></h3>
        </div>
        <div class="panel-body" style="overflow:hidden; height:100%;">
            <div gridster="gridsterOpts">
                <ul>
                    <li gridster-item="customItemMap"
                        ng-repeat="state in stateObjectsDashboard">

                        <div ng-if="state.type === 'trail'">
                            <div class="box grid-trail">
                                <div class="box-header">
                                    <h3>{{ getEntityLabel(state.entityId) }}</h3>
                                </div>

                                <div class="box-content dashboard"
                                     ng-style="{'height': gridsterItem.sizeY * gridster.rowHeight - 69 + 'px'}">
                                     <!-- if dependent entity is missing -->
                                     <div ng-if="!state.entityId">
                                         <div class="alert alert-warning" role="alert">
                                             <i class="fa fa-chain-broken fa-2x" aria-hidden="true"></i>
                                             <h5>Data source is missing! It may have been removed.</h5>
                                         </div>
                                     </div>

                                     <div ng-if="state.entityId">
                                         <div ng-if="state.chartType === 'gp'">
                                             <div gatherplot
                                                 data="entityDataObjectsList[state.id]"
                                                 config="state.gatherConfig"
                                                 xdim="{{state.gatherConfig.xDim}}"
                                                 ydim="{{state.gatherConfig.yDim}}"
                                                 border="state.gatherBorder"
                                                 round="state.gatherRound"
                                                 shaperenderingmode="state.gatherShapeRendering"
                                                 context="state.context"
                                                 dimsum="state.dimsum"
                                                 zoom="zoomlevel"
                                                 thumbnail="false"
                                                 istoolbar="false"
                                                 ng-style="{'height': gridsterItem.sizeY * gridster.rowHeight - 89 + 'px'}">
                                             </div>
                                         </div>

                                         <div ng-if="state.chartType === 'bar'">
                                             <nvd3 data="entityDataObjectsList[state.id]"
                                                   options="nvd3ChartConfigsDash[state.id].bar"></nvd3>
                                         </div>

                                         <div ng-if="state.chartType === 'pie'">
                                             <nvd3 data="entityDataObjectsList[state.id]"
                                                   options="nvd3ChartConfigsDash[state.id].pie"></nvd3>
                                         </div>
                                     </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="state.type === 'md'">
                            <div class="box grid-md">
                                <div class="box-header">
                                    <h3>Markdown</h3>
                                </div>

                                <div class="box-content dashboard"
                                     ng-style="{'height': gridsterItem.sizeY * gridster.rowHeight - 69 + 'px'}">
                                     <div class="dash-md-content" style="transform: translate(-50%, -50%) scale( {{ state.scaleFactor }} )">
                                         <div marked="state.slide"></div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
