.dot {
    stroke-width: 0;
    stroke: white;
}

.dot.selected {
    stroke: red;
    stroke-width: 3;
}

.brush .extent {
    fill-opacity: .1;
    stroke: #fff;
    shape-rendering: crispEdges;
}

rect.hidden {
    fill: #ccc !important;
}

/* MAIN POSTS PAGE */
.post {
    background: #fff;
    padding: 15px 0;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.info {
    font-weight: bolder;
    font-size: 16px;
}

.info .url {
    font-weight: normal;
    color: #999;
    font-size: 13px;
    margin-left: 5px;
}


/* PROFILE PAGE */

.prof-img {
    width: 100%;
    max-width: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.name {
    font-weight: bolder;
    font-size: 1.5em;
}

.vote {
    height: 20px;
    cursor: pointer;
}

.auth-forms {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 1px 25px 25px 25px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.cmt-form {
    margin-top: 30px;
}

.cmt {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.cmt .author {
    font-size: 11px;
    color: #bbb;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.lens {
    fill: white;
    stroke: gray;
    stroke-width: 2px;
}

.matrixFrame {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

/*.matrixFrame:hover {
   fill: none;
  stroke: red;
  stroke-width: 3px;
  shape-rendering: crispEdges;
}*/

div .matrixRow {
    display: inline-block;
}

div.matrixGroup {
    width: 100%;
    margin: 0 auto;
}

div .GPLOM {
    /*  width:100px;
  height:100px;*/
    display: inline-block;
    cursor: pointer;
    /*border: 1px;*/
    /*stroke:black;*/
}

div .GPLOM:hover {
    background-color: gray;
    stroke: red;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

div .GPLOMBrush {
    /*  width:100px;
  height:100px;*/
    display: inline-block;
    cursor: pointer;
    /*border: 1px;*/
    /*stroke:black;*/
}

div.clusterControlBox {
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.clusterControlBracket {
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelgreen;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.clusterControlButton:hover {
    background: white;
}

.controlButtonBracket {
    position: absolute;
    width: 200px;
    height: 28px;
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 100px;
    padding: 10px;
    text-align: center;
    background: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
    pointer-events: none;
    top: 0px;
    left: 0px;
}

.tooltip:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: #FFFFFF transparent transparent transparent;
    top: 95px;
    left: 80px;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

svg {
    max-width: 100%;
    height: 100%;
}

.axislabel {
    font: 20px sans-serif;
}

/*.axis path,
.axis line {
 fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
}*/
