<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <alert ng-show="rc.error" type="danger">
                <small>{{ rc.error }}</small>
            </alert>
            <form class="form-horizontal">
                <fieldset>
                    <div id="legend">
                        <legend class="">Register</legend>
                    </div>
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="username">Username</label>
                        <div class="controls">
                            <input type="text" id="username" name="username" placeholder="" class="input-xlarge" ng-model="rc.credentials.username">
                            <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="email">E-mail</label>
                        <div class="controls">
                            <input type="text" id="email" name="email" placeholder="" class="input-xlarge" ng-model="rc.credentials.email">
                            <p class="help-block">Please provide your E-mail</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" placeholder="" class="input-xlarge" ng-model="rc.credentials.password">
                            <p class="help-block">Password should be at least 6 characters</p>
                        </div>
                    </div>
                </fieldset>
            </form>
            <form class="form-horizontal">
                <fieldset>
                    <div id="legend">
                        <legend class="">Optional Demographic information</legend>
                        <h5>This is for the user study.  Please complete this if you are participarting user study. </h5>
                    </div>
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="username">Gender</label>
                        <div class="controls">
                            <input type="text" id="username" name="username" placeholder="Gender" class="input-xlarge" ng-model="rc.credentials.profile.gender">
                            <p class="help-block">Ex) male, female </p>
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="email">Age</label>
                        <div class="controls">
                            <input type="text" id="email" name="email" placeholder="age" class="input-xlarge" ng-model="rc.credentials.profile.age">
                            <p class="help-block"> Ex) 23, 19, 32 ... </p>
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="email">Occupation</label>
                        <div class="controls">
                            <input type="text" id="email" name="email" placeholder="Occupation" class="input-xlarge" ng-model="rc.credentials.profile.occupation">
                            <p class="help-block"> For students: Major/Degree specialization </p>
                            <input type="text" id="email" name="email" placeholder="Major/Degree Specialization" class="input-xlarge" ng-model="rc.credentials.profile.major">
                            <p class="help-block"> Degree program </p>
                            <input type="text" id="email" name="email" placeholder="Graduate/Undergraduate" class="input-xlarge" ng-model="rc.credentials.profile.degree">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Do you have any known color blindness?</label>
                        <div class="controls">
                            <input type="text" id="password" name="password" placeholder="" class="input-xlarge" ng-model="rc.credentials.profile.colorblindness">
                            <p class="help-block">Ex) Yes / No</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Apporoximately how many hours a week do you use computers?</label>
                        <div class="controls">
                            <input type="text" id="password" name="password" placeholder="" class="input-xlarge" ng-model="rc.credentials.profile.howmanyhourscomputers">
                            <p class="help-block">Ex) 20 , 40</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Please rate your knowledge of Star Wars, on a scale of 1 to 10:</label>
                        <div class="controls">
                            <input type="text" id="password" name="password" placeholder="" class="input-xlarge" ng-model="rc.credentials.profile.starwarsknowledge">
                            <p class="help-block">(1 is low, 10 is high)</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Please rate your knowledge of computers and technology based on how you think you compare to the general population, on a scale of 1 to 10: </label>
                        <div class="controls">
                            <input type="text" id="password" name="password" placeholder="" class="input-xlarge" ng-model="rc.credentials.profile.computerknowledge">
                            <p class="help-block">(1 is low, 10 is high)</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Please rate your experience working with data or doing any kind of data analysis, including numerical inspection or descriptive statistics, on a scale of 1 to 10:</label>
                        <div class="controls">
                            <input type="text" id="password" name="password" placeholder="" class="input-xlarge" ng-model="rc.credentials.profile.dataanalysis">
                            <p class="help-block">(1 is low, 10 is high)</p>
                        </div>
                        <p class="help-block">Please briefly explain</p>
                        <div class="controls">
                            <input type="text" id="password" name="password" placeholder="" class="input-xlarge" ng-model="rc.credentials.profile.dataanalysisexplanation">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Please rate your experience with information visualization on a scale of 1 to 10:</label>
                        <div class="controls">
                            <input type="text" id="password" name="password" placeholder="" class="input-xlarge" ng-model="rc.credentials.profile.infovis">
                            <p class="help-block">(1 is low, 10 is high)</p>
                        </div>
                        <p class="help-block">Please briefly explain</p>
                        <div class="controls">
                            <input type="text" id="password" name="password" placeholder="" class="input-xlarge" ng-model="rc.credentials.profile.infovisexplanation">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success" ng-click="rc.register()">Register</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
