/* universal styles */
body {
    background: #F3F3F3;
    padding: 0;
}

a {
    color: #ccc;
}

form {
    margin-bottom: 0;
}

ul {
    list-style: none;
}

ul > li {
    list-style-type: disc;
}

ol > li {
    list-style-type: decimal;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

/* remove padding in bootstrap row and column so we have full width panel */
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

@media screen and (min-width: 768px) {
    /*.container {
        max-width: 730px;
    }*/
    /* Remove the padding we set earlier */

    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */

    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */

    .jumbotron {
        border-bottom: 0;
    }
}

/* Shared by multiple views */

.fsbackground {
    background-color: #eeeeef;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
}

.fsbackground.reveal.isfullscreen {

}

.fsbackground.reveal.notfullscreen {
    /*zoom:0.5;*/
    /*height:1000px;*/
}

/*general fullscreen styles to make element bigger and font-size larger*/
fullscreen-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.selectedCard {
    border: 10px solid red;
}

.selectedCard.box {
    border: 2px solid red;
}

/* fullscreen toggle button */
.fs-btn {
    display: block;
}

/* trail card ui */
.chart-simple-interface {
    font-size:15px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 160px;
}

.chart-title {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

/* lock UI when a trail card becomes a parent card */
.locked {
    pointer-events: none;
    opacity: 0.4;
}

/* Trail List styles */
/* search box width */
.panel-body .col-md-3 {
    width: 28%;
}

/* Override bootstrap */
.panel-default > .panel-heading {
    background-color: #FFF;
}

/* Trail Panel styles */
.trail-panel {
    height: 100%;
    /*margin-bottom: 20px;*/
    background-color: #fff;
    /*border: 1px solid transparent;*/
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    overflow: hidden;
}

.trail-panel > .trail-panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.trail-panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.trail-panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.trail-panel-title > small,
.trail-panel-title > small > a,
.trail-panel-title > a {
    color: inherit;
}

.trail-panel-title .btn-group ul li {
    list-style: none;
}

.trail-panel-title .dropdown-menu > li > a {
    font-weight: 400;
    line-height: 2.2;
}

.trail-panel-body {
    height: 700px;
}

.trail-panel-body ul.dropdown-menu li {
    list-style: none;
}

.trail-panel-body .parent {
    background-color: aliceblue;
}

.trail-card {
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    opacity:0.8;
    filter:alpha(opacity=80);
    text-align:center;
    z-index:10;
    position:absolute;
    background-color:#eeeeef;
    color:black;
    font-family:helvetica;
    padding:0.5em;
    font-size:0.9em;
    width:1000px;
}

.md-card {
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    opacity:0.8;
    filter:alpha(opacity=80);
    text-align:center;
    z-index:10;
    position:absolute;
    background-color:#eeeeef;
    color:black;
    font-family:helvetica;
    /*padding:0.5em;*/
    font-size:0.9em;
    min-width: 320px;
    min-height: 240px;
}

/* responsive makrdown */
.scalable-wrapper {
    width: 1000px;
    height: 800px;
    resize: both;
    position: relative;
}

.md-content {
    padding: 20px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform-origin: center center;
}

.md-content img {
    width: 100%;
    height: auto;
}

.md-preview img {
    max-width: 100%;
    height: auto;
}

.md-input {
    width: 100%;
    height: auto;
}

.md-input textarea {
    width: 100%;
    min-height: 220px;
    resize: none;
    border: 1px solid #e5e5e5;
}

.compare {
    position: absolute;
    margin-left: 20px;
}

.compare input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(4); /* IE */
    -moz-transform: scale(4); /* FF */
    -webkit-transform: scale(4); /* Safari and Chrome */
    -o-transform: scale(4); /* Opera */
    padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.compare .checkboxtext {
    /* Checkbox text */
    font-size: 2em;
    display: inline;
    position: absolute;
    margin-left: 36px;
    margin-top: -26px;
    color: #6495ED;
}

.compareBg {
    background-color: rgba(30, 136, 229, 0.3);
}

.compareRootBg {
    border: 10px solid cornflowerblue
}

/* Dashboard view styles */
.dash-md-content {
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform-origin: center center;
}

.dash-md-content img {
    width: 100%;
    height: auto;
}

/* responsive embedded media in markdown */
/* from http://embedresponsively.com/ */
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* markdown jquery resize ui style */
.ui-resizable-se {
    width: 20px;
    height: 20px;
    background: #337ab7;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Dashboard styles */
.gridster {
    border: 1px solid #ccc;
}

.box {
    background-color: #dce2e8;
}

.box-header {
    background-color: #eee;
    padding: 0 30px 0 10px;
    border-bottom: 1px solid #ccc;
    cursor: move;
    position: relative;
}

.box-header h3 {
    margin-top: 10px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.box-content {
    padding: 10px;
}

.box-content.dashboard {
    overflow: hidden;
}

.box-header-btns {
    top: 15px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}

/* slideshow styles */
.slideshow-panel {
    margin-bottom: 0;
}

.slideshow-panel .panel-body {
    padding:0;
}

.sidebar-box {
    border: 1px solid #ccc;
    background-color: #fff;
}

.sidebar-box .preview-box {
    height: 900px;
    zoom: 0.18;
}

.sidebar-box .slide-md-wrapper {
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform-origin: center center;
}

.sidebar-box .slide-md-content img {
    width: 100%;
    height: auto;
}

.sidebar-box .slidePreview {
    overflow:hidden;
}

.sidebar-box .slidePreview a {

}

.sidebar-box .selectedSlide {
    border: 2px solid red;
}

#slideshow-md-content {
    position: relative;
    left: 50%;
    top: 50%;
    transform-origin: center center;
}

#slideshow-md-content img {
    width: 100%;
    height: auto;
}

#slideCenter {
}

#slideNav {
    height: 36px;
    background-color: darkgray;
    width: 100%;
}

.col-form-label {
    padding-top: calc(.5rem - 1px * 2);
    padding-bottom: calc(.5rem - 1px * 2);
    margin-bottom: 0;
}

/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}
.tree-node-content {
    margin: 10px;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.reveal {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    /*font-size: 38px;*/
    font-weight: normal;
    color: #222; }

::selection {
    color: #fff;
    background: #98bdef;
    text-shadow: none; }

.reveal .slides > section, .reveal .slides > section > section {
    line-height: 1.3;
    font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    margin: 0 0 10px 0;
    color: #222;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: normal;

    text-shadow: none;
    word-wrap: break-word; }

.reveal h1 {
    font-size: 2.5em;
    text-transform: uppercase;}

.reveal h2 {
    font-size: 1.6em; }

.reveal h3 {
    font-size: 1.3em; }

.reveal h4 {
    font-size: 1em; }

.reveal h1 {
    text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
    /*margin: 20px 0;*/
    line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img, .reveal video, .reveal iframe {
    max-width: 95%;
    max-height: 95%; }

.reveal strong, .reveal b {
    font-weight: bold; }

.reveal em {
    font-style: italic; }

.reveal ol, .reveal dl, .reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em; }

.reveal ol {
    list-style-type: decimal; }

.reveal ul {
    list-style-type: disc; }

.reveal ul ul {
    list-style-type: square; }

.reveal ul ul ul {
    list-style-type: circle; }

.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
    display: block;
    margin-left: 40px; }

.reveal dt {
    font-weight: bold; }

.reveal dd {
    margin-left: 40px; }

.reveal q, .reveal blockquote {
    quotes: none; }

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child, .reveal blockquote p:last-child {
    display: inline-block; }

.reveal q {
    font-style: italic; }

.reveal pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
    font-family: monospace; }

.reveal pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
    background: #3F3F3F;
    color: #DCDCDC; }

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0; }

.reveal table th {
    font-weight: bold; }

.reveal table th, .reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid; }

.reveal table th[align="center"], .reveal table td[align="center"] {
    text-align: center; }

.reveal table th[align="right"], .reveal table td[align="right"] {
    text-align: right; }

.reveal table tr:last-child td {
    border-bottom: none; }

.reveal sup {
    vertical-align: super; }

.reveal sub {
    vertical-align: sub; }

.reveal small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: top; }

.reveal small * {
    vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
    color: #2a76dd;
    text-decoration: none;
    -webkit-transition: color 0.15s ease;
    -moz-transition: color 0.15s ease;
    transition: color 0.15s ease; }

.reveal a:hover {
    color: #6ca2e8;
    text-shadow: none;
    border: none; }

.reveal .roll span:after {
    color: #fff;
    background: #1a54a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
    margin: 15px 0px;
    background: rgba(255, 255, 255, 0.12);
    border: 4px solid #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal a img {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear; }

.reveal a:hover img {
    background: rgba(255, 255, 255, 0.2);
    border-color: #2a76dd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.column {
    border: 1px solid #000000;
    border-radius: 5px;
}

.controls {
    margin-bottom: 20px;
}
.page-header {
    margin-top: 20px;
}

.axis path {
    shape-rendering: auto;
}

fullscreen-container {}

fullscreen-container > h4 {}

fullscreen-container > footer {}

.visible-fs {
    display: none;
}

:-webkit-full-screen {
    display:block;
}

:-moz-full-screen {
}

:-ms-fullscreen {
}

:-webkit-full-screen .visible-fs {
    display: block !important;
}

:-moz-full-screen .visible-fs {
    display: block !important;
}

:-ms-fullscreen .visible-fs {
    display: block !important;
}

:fullscreen {
}

:fullscreen .visible-fs {
    display: block !important;
}

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
