<div class="trails-list container" ng-controller="TrailsProfileListCtrl">
    <h1>{{currentUser.username}}'s profile</h1>
    <h3><a href="/trails">My trails</a></h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="input-group pull-right col-md-3 col-sm-12">
                <input type="search" ng-model="searchText" placeholder="Search" class="form-control"/>
                <div dropdown="" on-toggle="toggled(open)" class="dropdown input-group-btn">
                    <button dropdown-toggle="" class="btn btn-primary dropdown-toggle">{{ orderProperty==='1' ? 'Ascending' : 'Descending' }}<span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                        <li ng-click="orderProperty='1'"><a>Ascending</a></li>
                        <li ng-click="orderProperty='-1'"><a>Descending</a></li>
                    </ul>
                </div>
            </div>
            <ul class="nav nav-tabs nav-stacked col-md-9 col-sm-12">
                <li dir-paginate="trail in trails | itemsPerPage: perPage" total-items="trailsCount.count" pagination-id="trail">
                    <p><a href="/trails/{{trail._id}}">{{ trail.name }}</a>
                    </p>
                </li>
            </ul>
            <dir-pagination-controls pagination-id="trail" on-page-change="pageChanged(newPageNumber)" class="col-md-12"></dir-pagination-controls>
        </div>
    </div>
  </div>

<div class="dashboards-list container" ng-controller="DashboardsListCtrl">
    <h3><a href="/dashboards">My dashboards</a></h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="input-group pull-right col-md-3 col-sm-12">
                <input type="search" ng-model="searchText" placeholder="Search" class="form-control"/>
                <div dropdown="" on-toggle="toggled(open)" class="dropdown input-group-btn">
                    <button dropdown-toggle="" class="btn btn-primary dropdown-toggle">{{ orderProperty==='1' ? 'Ascending' : 'Descending' }}<span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                        <li ng-click="orderProperty='1'"><a>Ascending</a></li>
                        <li ng-click="orderProperty='-1'"><a>Descending</a></li>
                    </ul>
                </div>
            </div>
            <ul class="nav nav-tabs nav-stacked col-md-9 col-sm-12">
                <li dir-paginate="dashboard in dashboards | itemsPerPage: perPage" total-items="dashboardsCount.count" pagination-id="dash">
                    <p><a href="/dashboards/{{dashboard._id}}">{{ dashboard.name }}</a>
                    </p>
                </li>
            </ul>
            <dir-pagination-controls pagination-id="dash" on-page-change="pageChanged(newPageNumber)" class="col-md-12"></dir-pagination-controls>
        </div>
    </div>
 </div>

<div class="slideshows-list container" ng-controller="SlideshowsListCtrl">
    <h3><a href="/slideshows">My slideshows</a></h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="input-group pull-right col-md-3 col-sm-12">
                <input type="search" ng-model="searchText" placeholder="Search" class="form-control"/>
                <div dropdown="" on-toggle="toggled(open)" class="dropdown input-group-btn">
                    <button dropdown-toggle="" class="btn btn-primary dropdown-toggle">{{ orderProperty==='1' ? 'Ascending' : 'Descending' }}<span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                        <li ng-click="orderProperty='1'"><a>Ascending</a></li>
                        <li ng-click="orderProperty='-1'"><a>Descending</a></li>
                    </ul>
                </div>
            </div>
            <ul class="nav nav-tabs nav-stacked col-md-9 col-sm-12">
                <li dir-paginate="slideshow in slideshows | itemsPerPage: perPage" total-items="slideshowsCount.count">
                    <p><a href="/slideshows/{{slideshow._id}}">{{ slideshow.name }}</a>
                    </p>
                </li>
            </ul>
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="col-md-12"></dir-pagination-controls>
        </div>
    </div>
 </div>
