<div class="modal-header">
    <h3 class="modal-title">New file Name</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>
            Please enter the file name for the copy.
        </label>
        <input type="text" name="input" ng-model="newFileName" ng-focus="true" class="form-control">
    </div>
    <div class="ckeckbox">
        <input type="checkbox" ng-model="copyAll">
        <label>Copy the dashboards and stories for this exploration, too.
        </label>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Ok</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
