<div class="modal-header">
    <h3 class="modal-title">New Slide</h3>

</div>
<div class="modal-body">
    <h4>
        You are viewing exploration owned by other member.  You can
    </h4>
    <ul>
        <li>Copy this to your account to edit</li>
        <li>Request membership to the owner </li>
        <li>Continue as read only</li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="true">Request Ownership</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">Copy</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Continue as read only</button>
</div>