<div class="modal-header">
    <h3 class="modal-title">New Slide</h3>
</div>

<div class="modal-body">
    <h4>
        Select slide type
        <small>markdown or trail</small>
    </h4>

    <div class="btn-group">
        <label class="btn btn-default" ng-model="radioSlideType" btn-radio="'md'">Markdown</label>
        <label class="btn btn-default" ng-model="radioSlideType" btn-radio="'trail'">Trail</label>
    </div>

    <div ng-show="radioSlideType == 'trail'">
        <h4>Content</h4>

        <h5>Please select trail card</h5>

        <div gridster="gridsterOpts">
            <ul>
                <!-- <li gridster-item="widget" ng-repeat="widget in dashboards.widgets"> -->
                <li gridster-item="customItemMap"
                    ng-repeat="state in stateObjectsDashboard">
                    <div ng-if="state.type === 'trail'">
                        <div ng-if="state.entityId">
                            <div ng-click="selectCard(state)"
                                 ng-class="{selectedCard: state.isAddStoryModalSelected, box:true}">
                                <div class="box-header">
                                    <h3>{{ getEntityLabel(state.entityId) }}
                                        <small>{{ getSubtitle(state) }}</small>
                                    </h3>
                                </div>

                                <div class="box-content"
                                     ng-style="{'height': gridsterItem.sizeY * gridster.rowHeight - 69 + 'px'}">
                                     <div ng-if="state.chartType === 'gp'">
                                         <div gatherplot data="entityDataObjectsList[state.id]"
                                            config="state.gatherConfig"
                                            xdim="{{state.gatherConfig.xDim}}"
                                            ydim="{{state.gatherConfig.yDim}}"
                                            border="state.gatherBorder"
                                            round="state.gatherRound"
                                            shaperenderingmode="state.gatherShapeRendering"
                                            context="state.context"
                                            dimsum="state.dimsum"
                                            zoom="zoomlevel"
                                            style="height:300px"
                                            thumbnail="true">
                                         </div>
                                     </div>

                                     <div ng-if="state.chartType === 'bar'">
                                         <nvd3 data="entityDataObjectsList[state.id]"
                                               options="disBarOpt"></nvd3>
                                     </div>

                                     <div ng-if="state.chartType === 'pie'">
                                         <nvd3 data="entityDataObjectsList[state.id]"
                                               options="pieOpt"></nvd3>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!state.entityId">
                            <div class="box-header">
                                <h3>{{ getEntityLabel(state.entityId) }}</h3>
                            </div>
                            <div class="box-content"
                                 ng-style="{'height': gridsterItem.sizeY * gridster.rowHeight - 69 + 'px'}">
                                <div class="alert alert-warning" role="alert">
                                    <i class="fa fa-chain-broken fa-2x" aria-hidden="true"></i>
                                    <h5>You cannot select this trail card because data source is missing!</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div ng-show="radioSlideType == 'md'">
        <div class="pull-right">
            <small>
                <a class="btn btn-default " href="http://assemble.io/docs/Cheatsheet-Markdown.html" target="_blank">
                    markdown help
                    <i class="fa fa-info-circle"></i>
                </a>
            </small>
        </div>

        <h4>Content</h4>

        <div class="md-input">
            <textarea ng-model="my_markdown" placeholder="Enter markdown cell contents here"></textarea>
        </div>

        <div class="md-preview embed-container" marked="my_markdown">
        </div>
    </div>
</div>
<div class="modal-footer">
    <alert type="danger" ng-show="showNoSelectError"> You have to select at least one card.</alert>
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
