<div ng-if="!isSlideshowList">
    <div class="panel panel-primary slideshow-panel" style="height:100%;">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a class="btn btn-link pull-left" ng-click="backToSlideshowList()">
                    Back to list
                    <i class="fa fa-angle-double-left"></i>
                </a>

                {{slideshow.name}}

                <a class="btn btn-link" href="{{'slideshows/' + slideshow._id}}" target="_blank">
                    Preview
                    <i class="fa fa-play-circle"></i>
                </a>

                <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
                    Get share link
                </button>

                <div collapse="!isCollapsed">
                    <div class="well well-lg">{{host + 'slideshows/' + slideshow._id}}</div>
                </div>

                <div class="btn-group pull-right">
                    <button class="btn btn-default" ng-click="addSlideshowModal()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </h3>
        </div>

        <div class="panel-body">
            <div class="col-sm-3">
                <div>
                    <ng-include src="'client/trails/trails-detail/trail-slideshow-sidebar.html'"></ng-include>
                </div>
            </div>
            <div class="col-sm-9">
                <div ng-if="canvasMode === 'slideshow'">
                    <div>
                        <ng-include src="'client/trails/trails-detail/trail-slideshow-fullscreen.html'"></ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="isSlideshowList" class="slideshows-list container">
    <h1>Slideshows</h1>

    <form ng-submit="addSlideshow()" name="form" novalidate="" class="thing-form">
        <p class="input-group">
            <input type="text" placeholder="Enter a new slideshow name" ng-model="newSlideshow.name" class="form-control"/>
            <span class="input-group-btn">
            <input type="submit" value="Add" class="btn btn-primary"/></span>
        </p>
    </form>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="input-group pull-right col-md-3 col-sm-12">
                <input type="search" ng-model="slideSearchText" placeholder="Search" class="form-control"/>

                <div dropdown="" on-toggle="toggled(open)" class="dropdown input-group-btn">
                    <button dropdown-toggle=""
                            class="btn btn-primary dropdown-toggle">{{ slideOrderProperty==='1' ? 'Ascending' : 'Descending' }}
                        <span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                        <li ng-click="slideOrderProperty='1'"><a>Ascending</a></li>
                        <li ng-click="slideOrderProperty='-1'"><a>Descending</a></li>
                    </ul>
                </div>
            </div>

            <ul class="nav nav-tabs nav-stacked col-md-9 col-sm-12">
                <li dir-paginate="slideshow in trailSlideshows | itemsPerPage: slidePerPage" total-items="slideshowsCount.count">
                    <p><a ng-click="openSlideshow(slideshow)">{{ slideshow.name }}</a>
                        <button ng-click="removeSlideshow(slideshow)" class="btn">&times;</button>
                    </p>
                </li>
            </ul>
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"
                                     class="col-md-12"></dir-pagination-controls>
        </div>
    </div>
    <p>Total number of slideshows: {{slideshowsCount.count}}</p>
</div>
