<!-- Trail Card -->
<div ng-if="card.type === 'trail'">
    <js-plumb-object state-object="card"
                     cards="trail.cards"
                     ng-style="{ 'left':card.x, 'top':card.y, 'width': card.width, 'height': card.height}"
                     update-fn="updateTrailPosition(card, $index)"
                     class="trail-card"
                     ng-class="{compareBg: card.compareOn,
                                compareRootBg: card.id === currCompareRootId}">
        <!-- if dependent entity is missing -->
        <div ng-if="!card.entityId && (card.entityData.length > 0)">
            <div class="fs-background">
                <div ng-if="!card.isParent" class="pull-right">
                    <button class="btn btn-danger" ng-click="removeCard($index,trail.cards)">&times;</button>
                </div>

                <div style="display: table; position: absolute; height: 100%; width: 99%; z-index: -100">
                    <div style="display: table-cell; vertical-align: middle">
                        <div ng-style="{ 'margin-left':'auto', 'margin-right':'auto' }">
                            <div class="alert alert-warning" role="alert">
                                <i class="fa fa-chain-broken fa-4x" aria-hidden="true"></i>
                                <h2>Data source is missing! It may have been removed.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Query result is empty -->
        <div ng-if="card.entityId && (card.entityData.length === 0)">
            <div class="fs-background">
                <div ng-if="!card.isParent" class="pull-right">
                    <button class="btn btn-danger" ng-click="removeCard($index,trail.cards)">&times;</button>
                </div>

                <div style="display: table; position: absolute; height: 100%; width: 99%; z-index: -100">
                    <div style="display: table-cell; vertical-align: middle">
                        <div ng-style="{ 'margin-left':'auto', 'margin-right':'auto' }">
                            <div class="alert alert-warning" role="alert">
                                <i class="fa fa-ban fa-4x" aria-hidden="true"></i>
                                <h2>Data not found!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="card.entityId && (card.entityData.length > 0)">
            <fullscreen-container>
                <div class="fs-background" ng-class="{selectedCard: card.selectedCard}">
                    <div class="trail-ui-top">
                        <div ng-if="!card.isParent" class="pull-right">
                            <button class="btn btn-danger" ng-click="removeCard($index,trail.cards)">&times;</button>
                        </div>

                        <div class="pull-left">
                            <div class="compare">
                                <input type="checkbox" ng-show="card.compareOn" ng-model="card.isCompare"
                                       ng-change="compareSelectPath(card)"
                                       ng-true-value="true"
                                       ng-false-value="false"
                                       ng-disabled="card.compareDisabled">
                                <span class="checkboxtext" ng-show="card.compareOn">Compare</span>
                            </div>
                        </div>

                        <h3>{{ getEntityLabel(card.entityId) }}</h3>
                    </div>

                    <div>
                        <div cg-busy="myPromise"></div>
                        <div ng-if="card.chartType === 'gp'">
                            <div gatherplot data="entityDataObjectsList[card.id]"
                                 config="card.gatherConfig"
                                 xdim="{{card.gatherConfig.params.xDim}}"
                                 ydim="{{card.gatherConfig.params.yDim}}"
                                 border="card.gatherBorder"
                                 round="card.gatherRound"
                                 shaperenderingmode="card.gatherShapeRendering"
                                 context="card.context"
                                 dimsum="card.dimsum"
                                 zoom="zoomlevel"
                                 istoolbar="true"
                                 numchild="card.children.length"
                                 style="height:{{card.nvd3ChartHeight}}px"
                                 log="logfunc(type, message, data)"
                                 reset-fn="resetTrailSelection(card, $index)"></div>
                        </div>
                        <div ng-if="card.chartType === 'bar'">
                            <nvd3 data="entityDataObjectsList[card.id]"
                                  options="nvd3ChartConfigs[card.id].bar"></nvd3>
                        </div>
                        <div ng-if="card.chartType === 'pie'">
                            <nvd3 data="entityDataObjectsList[card.id]"
                                  options="nvd3ChartConfigs[card.id].pie"></nvd3>
                        </div>

                        <div class="chart-simple-interface">
                            <span>Show me</span>
                            <!-- Parameter combo box for different charts -->
                            <div ng-class="{locked: card.isParent}">
                                <div ng-if="card.chartType === 'gp'">
                                    <select ng-model="card.gatherConfig.params.xDim"
                                            ng-options="dimension.name as dimension.name for dimension in {{ getEntityDimensions(card.entityId) }}"
                                            ng-change="logfunc('X axis changed', '', {dim_name:card.gatherConfig.params.xDim, state_id: card.id}); updateGatherConfigXDim(card, $index)">
                                        <option value="">-- undefined --</option>
                                    </select>&nbsp;vs&nbsp;.
                                    <select ng-model="card.gatherConfig.params.yDim"
                                            ng-options="dimension.name as dimension.name for dimension in {{ getEntityDimensions(card.entityId) }}"
                                            ng-change="logfunc('Y axis changed', '', {dim_name:card.gatherConfig.params.yDim, state_id: card.id}); updateGatherConfigYDim(card, $index)">
                                        <option value="">-- undefined --</option>
                                    </select>
                                    <br>
                                    <br>
                                    Mark nodes with color according to
                                    <select ng-model="card.gatherConfig.params.colorDim"
                                            ng-options="dimension.name as dimension.name for dimension in {{ getEntityDimensions(card.entityId) }}"
                                            ng-change="logfunc('Color axis changed', '', {dim_name:card.gatherConfig.params.colorDim, state_id: card.id}); updateGatherConfigColorDim(card, $index)">
                                        <option value="">-- undefined --</option>
                                    </select>
                                    <br>
                                    <input type='checkbox' ng-model="card.gatherConfig.params.relativeMode"
                                           ng-true-value="'relative'"
                                           ng-false-value="'absolute'"
                                           ng-change="logfunc('Relative mode', '', {relativeMode:card.gatherConfig.params.relativeMode, state_id: card.id}); updateGatherConfigMode(card, $index)">
                                     Check this to make it easy to compare groups of different sizes.
                                </div>

                                <div ng-if="card.chartType === 'pie'">
                                    <select ng-model="card.chartConfig.selection.dimName"
                                            ng-options="dimension.name as dimension.name for dimension in {{ getEntityDimensions(card.entityId) }}"
                                            ng-change="logfunc('Pie dimension changed', '', {dim_name:card.chartConfig.dim, state_id: card.id}); updateChartDim(card, $index);">
                                        <option value="">-- undefined --</option>
                                    </select>
                                </div>

                                <div ng-if="card.chartType === 'bar'">
                                    <select ng-model="card.chartConfig.selection.dimName"
                                            ng-options="dimension.name as dimension.name for dimension in {{ getEntityDimensions(card.entityId) }}"
                                            ng-change="logfunc('Bar dimension changed', '', {dim_name:card.chartConfig.dim, state_id: card.id}); updateChartDim(card, $index);">
                                        <option value="">-- undefined --</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Regular data manipulation actions -->
                            <div>
                                Chart type:
                                <select ng-options="value.type as value.type for value in chartTypes"
                                        ng-model="card.chartType"
                                        ng-change="updateChartType(card, $index)"></select>

                                Expand {{ getEntityLabel(card.entityId) }} to (+):
                                <select ng-options='link as link.displayText for link in {{ getEntityLinks(card.entityId) }}'
                                        ng-model="link"
                                        ng-change="pivotCard(link, card, $index)"></select>

                                <a class="btn btn-link " ng-click="filterCard(card, $index)"> Filter <i class="fa fa-plus"></i></a>

                                <a class="btn btn-link ">
                                    <fullscreen-toggle class='btn fs-btn'
                                                       zoom="zoomlevel"
                                                       on-full="setFullScreen(isFullScreen)">
                                        Slide <i class="fa fa-expand"></i>
                                    </fullscreen-toggle>
                                </a>
                            </div>

                            <!-- Comparison mode actions -->
                            <div ng-if="checkCompareSelectStatus(card)">
                                Comparison:
                                <a class="btn btn-link" ng-click="compareSelect(card, $index)"> Select </a>

                                <span ng-show="isComparePath && (card.id === currCompareRootId)">
                                    Expand {{ getEntityLabel(card.entityId) }} to (+):
                                    <select ng-options='link as link.displayText for link in {{ getEntityLinks(card.entityId) }}'
                                            ng-model="link"
                                            ng-change="comparePivot(link, card, $index)"></select>

                                    <a class="btn btn-link"
                                       ng-click="compareFilter(card, $index)"> Filter <i class="fa fa-plus"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </fullscreen-container>
        </div>

        <div style="position:absolute; top:50%; right:0px;">
            <js-plumb-endpoint ng-repeat="endpoint in card.sources track by endpoint.uuid"
                               anchor="RightMiddle"
                               uuid="{{endpoint.uuid}}"
                               settings="sourceEndpointStyle">
                <js-plumb-connection ng-click="setActiveConnection($index)"
                                     ng-repeat="connection in endpoint.connections track by connection.uuid"
                                     ng-model="connection"
                                     cards="trail.cards"
                                     data="entityDataObjectsList">
                </js-plumb-connection>
            </js-plumb-endpoint>
        </div>
        <div style="position:absolute; top:50%; left:0px;">
            <js-plumb-endpoint ng-repeat="endpoint in card.targets track by endpoint.uuid"
                               anchor="LeftMiddle"
                               uuid="{{endpoint.uuid}}"
                               settings="targetEndpointStyle"></js-plumb-endpoint>
        </div>
    </js-plumb-object>
</div>

<!-- Markdown Card -->
<div ng-if="card.type === 'md'">
    <js-plumb-object state-object="card"
                     ng-style="{ 'left':card.x, 'top':card.y, 'width': card.width, 'height': card.height}"
                     update-fn="updateTrailPosition(card, $index)"
                     class="md-card">
        <div class="scalable-wrapper" ng-style="{'width': card.width, 'height': card.height}">
            <div class="md-content" style="transform: translate(-50%, -50%) scale( {{ card.scaleFactor }} )">
                <div class="md-widget">
                    <div class="pull-right">
                        <button class="btn btn-danger" ng-click="removeCard($index,trail.cards)">&times;</button>
                    </div>

                    <h3>Markdown</h3>

                    <a class="btn btn-link" ng-click="card.showEditor = !card.showEditor; updateTrailMarkdownContent(card, $index)">
                        Edit <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </div>

                <div ng-if="!card.showEditor">
                    <div marked="card.slide">
                    </div>
                </div>
                <div ng-if="card.showEditor">
                    <div class="md-input">
                        <textarea ng-model="card.slide"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </js-plumb-object>
</div>
