<div class="sidebar-box box-preview">
    <div class="slideList">
        <div ui-tree data-drag-enabled="false" style="height:{{ slideshowSideBarHeight }}px">
            <ol ui-tree-nodes="" ng-model="fullscreenObjects" style="max-height:{{ slideshowSideBarHeight }}px; overflow:auto">
                <li ng-repeat="item in fullscreenObjects" ui-tree-node>
                    <div ui-tree-handle>
                        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeFromSlideshow(item, $index)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <div ng-if="item.type == 'trail'">
                            <a>{{$index}}. {{ getFullScreenObjLabel(item) }}</a>
                        </div>
                        <div ng-if="item.type == 'md'">
                            <a>{{$index}}. {{ getFullScreenObjLabel(item) }}</a>
                        </div>
                    </div>
                    <div ng-click="switchCard(item, $index)" ng-class="{selectedSlide: isCurrentSlide(item, $index), slidePreview: true}">
                        <div class="preview-box">
                            <div ng-if="item.type == 'trail'">
                                <div ng-if="getStateFromId(item.id)">
                                    <div ng-if="item.chartType === 'gp'">
                                        <div gatherplot
                                            data="entityDataObjectsList[item.id]"
                                            config="getStateFromId(item.id).gatherConfig"
                                            xdim="{{getStateFromId(item.id).gatherConfig.xDim}}"
                                            ydim="{{getStateFromId(item.id).gatherConfig.yDim}}"
                                            border="getStateFromId(item.id).gatherBorder"
                                            round="getStateFromId(item.id).gatherRound"
                                            shaperenderingmode="getStateFromId(item.id).gatherShapeRendering"
                                            context="getStateFromId(item.id).context"
                                            dimsum="getStateFromId(item.id).dimsum"
                                            zoom="zoomlevel"
                                            style="height:800px"
                                            thumbnail="true">
                                         </div>
                                    </div>

                                    <div ng-if="item.chartType === 'bar'">
                                        <nvd3 data="entityDataObjectsList[item.id]"
                                              options="disBarOptSlidePreview"></nvd3>
                                    </div>

                                    <div ng-if="item.chartType === 'pie'">
                                        <nvd3 data="entityDataObjectsList[item.id]"
                                            options="pieOptSlidePreview"></nvd3>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="item.type === 'md'" style="height:900px">
                                <div class="slide-md-wrapper" style="transform: translate(-50%,-50%) scale( {{ previewScales[$index] }} )">
                                    <div class="slide-md-content" marked="item.markdown" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
