<div id="slide-content" style="height:{{ slideshowContentHeight }}px">
    <fullscreen-container
        class="fullscreen-container"
        ng-keyup="handleKeyboard($event)"
        on-next-key="nextCard"
        on-previous-key="previousCard">
        <div style="height:{{ slideshowContentHeight }}px">
            <div ng-class="{
                fsbackground:true,
                reveal:true,
                'isfullscreen':isFullScreen,
                'notfullscreen':!isFullScreen
            }" style="height:{{ slideshowContentHeight }}px">
                <div id="slideCenter" style="height:{{ slideHeight }}px">
                    <div ng-if="fullscreenObjects[slideIndex].type === 'trail'" style="height:{{ slideHeight }}px; zoom: {{ slideCenterZoom }}">
                        <h4 class="chart-title">{{fullscreenObjects[slideIndex].subtitle}}</h4>

                        <h5>
                            {{ getEntityLabel(fullscreenState.entityId) }}
                        </h5>

                        <!-- if dependent entity is missing -->
                        <div ng-if="!fullscreenObjects[slideIndex].entityId">
                            <div class="alert alert-warning" role="alert">
                                <i class="fa fa-chain-broken fa-2x" aria-hidden="true"></i>
                                <h5>Data source is missing! It may have been removed.</h5>
                            </div>
                        </div>

                        <div ng-if="fullscreenObjects[slideIndex].entityId">
                            <div ng-if="fullscreenState">
                                <div ng-if="fullscreenObjects[slideIndex].chartType === 'gp'">
                                    <div gatherplot
                                        data="entityDataObjectsList[fullscreenState.id]"
                                        config="fullscreenState.gatherConfig"
                                        xdim="{{fullscreenState.gatherConfig.params.xDim}}"
                                        ydim="{{fullscreenState.gatherConfig.params.yDim}}"
                                        border="fullscreenState.gatherBorder"
                                        round="fullscreenState.gatherRound"
                                        shaperenderingmode="fullscreenState.gatherShapeRendering"
                                        context="fullscreenState.context"
                                        dimsum="fullscreenState.dimsum"
                                        zoom="zoomlevel"
                                        istoolbar="false"
                                        style="height:470px">
                                    </div>

                                    <div class="chart-simple-interface">
                                        Show me
                                        <select
                                            ng-model="fullscreenState.gatherConfig.params.xDim"
                                            ng-options="dimension.name as dimension.name for dimension in {{ getEntityDimensions(fullscreenState.entityId) }}"
                                            ng-change="fullscreenSetXDim(fullscreenState)">
                                            <option value="">-- undefined --</option>
                                        </select>&nbsp;vs&nbsp;.
                                        <select
                                            ng-model="fullscreenState.gatherConfig.params.yDim"
                                            ng-options="dimension.name as dimension.name for dimension in {{ getEntityDimensions(fullscreenState.entityId) }}"
                                            ng-change="fullscreenSetYDim(fullscreenState)">
                                            <option value="">-- undefined --</option>
                                        </select>
                                        <br> Mark nodes with color according to
                                        <select
                                            ng-model="fullscreenState.gatherConfig.params.colorDim"
                                            ng-options="dimension.name as dimension.name for dimension in {{ getEntityDimensions(fullscreenState.entityId) }}"
                                            ng-change="fullscreenSetColorDim(fullscreenState)">
                                            <option value="">-- undefined --</option>
                                        </select>
                                        <br>
                                        <input
                                            type='checkbox'
                                            ng-model="fullscreenState.gatherConfig.params.relativeMode"
                                            ng-true-value="'relative'"
                                            ng-false-value="'absolute'"
                                            ng-change="fullscreenSetMode(fullscreenState)">
                                            Check this to make it easy to compare groups of different sizes.
                                        <br>
                                    </div>
                                </div>

                                <div ng-if="fullscreenObjects[slideIndex].chartType === 'bar'">
                                    <nvd3 data="entityDataObjectsList[fullscreenState.id]"
                                        options="disBarOptSlideFs"></nvd3>

                                    <div class="chart-simple-interface">
                                        Show me
                                        <select ng-model="fullscreenState.chartConfig.selection.dimName"
                                                ng-options="dimension.name as dimension.name for dimension in {{ getEntityDimensions(fullscreenState.entityId) }}"
                                                ng-change="fullscreenUpdateChartDim(fullscreenState)">
                                            <option value="">-- undefined --</option>
                                        </select>
                                    </div>
                                </div>

                                <div ng-if="fullscreenObjects[slideIndex].chartType === 'pie'">
                                    <nvd3 data="entityDataObjectsList[fullscreenState.id]"
                                        options="pieOptSlideFs"></nvd3>

                                    <div class="chart-simple-interface">
                                        Show me
                                        <select ng-model="fullscreenState.chartConfig.selection.dimName"
                                                ng-options="dimension.name as dimension.name for dimension in {{ getEntityDimensions(fullscreenState.entityId) }}"
                                                ng-change="fullscreenUpdateChartDim(fullscreenState)">
                                            <option value="">-- undefined --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="fullscreenObjects[slideIndex].type === 'md'" style="height:{{ slideHeight }}px">
                        <div id="slideshow-md-content" style="transform: translate(-50%,-50%) scale( {{ fullscreenObjects[slideIndex].scaleFactor }} )">
                            <h4>{{fullscreenObjects[slideIndex].subtitle}}</h4>
                            <div marked="fullscreenObjects[slideIndex].markdown"></div>
                        </div>
                    </div>
                </div>

                <div id="slideNav">
                    <div class="pull-left">
                        <button class="btn btn-default" ng-disabled='index == 0' ng-click="previousCard()">
                            <i class="fa fa-chevron-circle-left"></i> Previous
                        </button>

                        {{index}}

                        <button class="btn btn-default" ng-disabled='index == fullscreenObjects.length - 1' ng-click="nextCard()">
                            Next <i class="fa fa-chevron-circle-right"></i>
                        </button>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-link">
                            <fullscreen-toggle zoom="zoomlevel" on-full="setFullScreen">
                                Slideshow<i class="fa fa-play"></i>
                            </fullscreen-toggle>
                        </a>

                        <a ng-show="fullscreenObjects[slideIndex].type === 'trail' && fullscreenObjects[slideIndex].entityId" class="btn btn-link " ng-click="findCardInTrail(fullscreenState)">
                            Explore
                            <i class="fa fa-street-view"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tooltip" ng-show="isFullScreen"></div>
    </fullscreen-container>
</div>

<div id="slide-input">
    <form>
        <div class="form-group row nopadding">
            <label class="col-sm-1 col-form-label">Subtitle</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" ng-model="fullscreenObjects[slideIndex].subtitle" ng-change="updateSlideshowSubtitle(slideIndex)">
            </div>
        </div>

        <div ng-show="fullscreenObjects[slideIndex].type == 'md'">
            <div class="form-group row nopadding">
                <label class="col-sm-1 col-form-label">Content</label>
                <div class="col-sm-9">
                    <textarea class="form-control" ng-model="fullscreenObjects[slideIndex].markdown" ng-change="updateSlideshowMarkdown(slideIndex)"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
