<!-- <div class="row" style="height:100%;"> -->
    <div ng-if="!isDashboardList" class="col-sm-12 nopadding" style="height:100%; overflow:hidden;">
        <div class="panel panel-primary" style="height:100%;">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">
                    <a class="btn btn-link pull-left" ng-click="backToDashboardList()">
                        Back to list
                        <i class="fa fa-angle-double-left"></i>
                    </a>

                    {{dashboardName}}

                    <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
                        Get share link
                    </button>

                    <div collapse="!isCollapsed">
                        <div class="well well-lg">{{host + 'dashboards/' + dashboard._id}}</div>
                    </div>

                    <div class="btn-group pull-right">
                        <button class="btn btn-default" ng-click="addDashboardModal()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>

                        <button class="btn btn-default" ng-click="resetDashboardCards(dashboard)">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </div>
                </h3>
            </div>

            <div class="panel-body" style="overflow:hidden; height:100%;">
                <div gridster="gridsterOpts">
                    <ul>
                        <li gridster-item="customItemMap"
                            row="state.gridster.position.row"
                            col="state.gridster.position.col"
                            size-x="state.gridster.size.x"
                            size-y="state.gridster.size.y"
                            ng-repeat="state in stateObjectsDashboard">

                            <div ng-if="state.type === 'trail'">
                                <div class="box grid-trail">
                                    <!-- Header -->
                                    <div class="box-header">
                                        <h3>{{ getEntityLabel(state.entityId) }}</h3>

                                        <div class="box-header-btns pull-right">
                                            <a title="settings" ng-click="findCardInTrail(state)">
                                                <i class="glyphicon glyphicon-leaf"></i>
                                            </a>

                                            <a title="Remove widget" ng-click="removeFromDashboard(state, $index)">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <!-- Chart / Markdown -->
                                    <div class="box-content dashboard" ng-style="{'height': gridsterItem.sizeY * gridster.rowHeight - 69 + 'px'}">
                                        <!-- if dependent entity is missing -->
                                        <div ng-if="!state.entityId">
                                            <div class="alert alert-warning" role="alert">
                                                <i class="fa fa-chain-broken fa-2x" aria-hidden="true"></i>
                                                <h5>Data source is missing! It may have been removed.</h5>
                                            </div>
                                        </div>

                                        <div ng-if="state.entityId">
                                            <div ng-if="state.chartType === 'gp'">
                                                <div gatherplot
                                                    data="entityDataObjectsList[state.id]"
                                                    config="state.gatherConfig"
                                                    xdim="{{state.gatherConfig.xDim}}"
                                                    ydim="{{state.gatherConfig.yDim}}"
                                                    border="state.gatherBorder"
                                                    round="state.gatherRound"
                                                    shaperenderingmode="state.gatherShapeRendering"
                                                    context="state.context"
                                                    dimsum="state.dimsum"
                                                    zoom="zoomlevel"
                                                    thumbnail="false"
                                                    istoolbar="false"
                                                    ng-style="{'height': gridsterItem.sizeY * gridster.rowHeight - 89 + 'px'}">
                                                </div>
                                            </div>

                                            <div ng-if="state.chartType === 'bar'">
                                                <nvd3 data="entityDataObjectsList[state.id]"
                                                      options="nvd3ChartConfigsDash[state.id].bar"></nvd3>
                                            </div>

                                            <div ng-if="state.chartType === 'pie'">
                                                <nvd3 data="entityDataObjectsList[state.id]"
                                                      options="nvd3ChartConfigsDash[state.id].pie"></nvd3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="state.type === 'md'">
                                <div class="box grid-md">
                                    <!-- Header -->
                                    <div class="box-header">
                                        <h3>Markdown</h3>

                                        <div class="box-header-btns pull-right">
                                            <a title="settings" ng-click="state.showEditor = !state.showEditor; updateDashMarkdownContent(state, $index)">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </a>

                                            <a title="Remove widget" ng-click="removeFromDashboard(state, $index)">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <!-- Chart / Markdown -->
                                    <div class="box-content dashboard" ng-style="{'height': gridsterItem.sizeY * gridster.rowHeight - 69 + 'px'}">
                                        <div class="dash-md-content" style="transform: translate(-50%, -50%) scale( {{ state.scaleFactor }} )">
                                            <div ng-if="!state.showEditor">
                                                <div marked="state.slide"></div>
                                            </div>
                                            <div ng-if="state.showEditor">
                                                <div class="md-input">
                                                    <textarea ng-model="state.slide"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="isDashboardList" class="dashboards-list container">
        <h1>Dashboards</h1>

        <form ng-submit="addDashboard()" name="form" novalidate="" class="thing-form">
            <p class="input-group">
                <input type="text" placeholder="Enter a new dashboard name" ng-model="newDashboard.name"
                       class="form-control"/>
                <span class="input-group-btn">
                    <input type="submit" value="Add" class="btn btn-primary"/>
                </span>
            </p>
        </form>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="input-group pull-right col-md-3 col-sm-12">
                    <input type="search" ng-model="dashSearchText" placeholder="Search" class="form-control"/>

                    <div dropdown="" on-toggle="toggled(open)" class="dropdown input-group-btn">
                        <button dropdown-toggle="" class="btn btn-primary dropdown-toggle">
                            {{ dashOrderProperty==='1' ? 'Ascending' : 'Descending' }}
                            <span class="caret"></span>
                        </button>
                        <ul role="menu" class="dropdown-menu">
                            <li ng-click="dashOrderProperty='1'"><a>Ascending</a></li>
                            <li ng-click="dashOrderProperty='-1'"><a>Descending</a></li>
                        </ul>
                    </div>
                </div>

                <ul class="nav nav-tabs nav-stacked col-md-9 col-sm-12">
                    <li dir-paginate="dashboard in trailDashboards | itemsPerPage: dashPerPage"
                        total-items="dashboardsCount.count">
                        <p>
                            <a ng-click="openDashboard(dashboard)">{{ dashboard.name }}</a>
                            <button ng-click="removeDashboard(dashboard)" class="btn">&times;</button>
                        </p>
                    </li>
                </ul>
                <dir-pagination-controls on-page-change="dashPageChanged(newPageNumber)" class="col-md-12">
                </dir-pagination-controls>
            </div>
        </div>
        <p>Total number of dashboards: {{dashboardsCount.count}}</p>
    </div>
<!-- </div> -->
