<tabset>
    <!-- Trail Tab -->
    <tab heading="{{trail.name}}" disable="true" select="setTrailMode()"></tab>
    <tab heading="Trail" select="setTrailMode()" active="isTrail">
        <div class="row nopadding" style="height:100%;" ng-mouseup="handleMiddleMouse($event)">
            <img id="mySpinner" src="gears.gif" ng-hide="isAllLoaded"/>

            <div class="col-sm-12 nopadding" ng-if="isAllLoaded">
                <div ng-if="canvasMode === 'trail'">
                    <div class="trail-panel">
                        <div class="trail-panel-heading">
                            <h3 class="trail-panel-title">
                                <!-- <small>
                                    <a class="btn btn-link " href="/data" target="_blank">
                                        Entity<i class="fa fa-info-circle"></i>
                                    </a>
                                </small> -->

                                <div class="btn-group">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>

                                        <ul role="menu" class="dropdown-menu">
                                            <li ng-click="addMarkdownModal()"><a href="">Markdown</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li ng-click="newCard(entity._id)" ng-repeat="entity in entities">
                                                <a href="">{{ entity.label }}</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <button class="btn btn-default" ng-click="showjson=!showjson">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </button>
                                    <button class="btn btn-default" ng-click="zoomToFit()">
                                        <span class="glyphicon glyphicon-fullscreen"></span>
                                    </button>
                                </div>

                                <div class="pull pull-right">
                                    <label>Public
                                        <input type="checkbox" ng-model="trail.public" ng-click="setTrailPublic(trail.public)">
                                    </label>
                                </div>
                            </h3>
                        </div>

                        <div class="trail-panel-body" style="height:{{ trailPanelBodyHeight }}px">
                            <div class="parent" id="focal">
                                <div class="panzoom">
                                    <js-plumb-canvas on-connection="onConnection" x="pos_x" y="pos_y" zoom="zoomlevel"
                                                     drag="traildrag">
                                        <ng-include src="'client/trails/trails-detail/trail-card.html'"
                                                ng-repeat="card in trail.cards track by card.id"></ng-include>
                                    </js-plumb-canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>

    <!-- Dashboard Tab -->
    <tab heading="Dashboards" select="setDashboardMode()">
        <ng-include src="'client/trails/trails-detail/trail-dashboard.html'"></ng-include>
    </tab>

    <!-- Slideshow Tab -->
    <tab heading="Slideshows" select="setSlideshowMode()">
        <ng-include src="'client/trails/trails-detail/trail-slideshow.html'"></ng-include>
    </tab>
</tabset>
