<div class="container">
	<h1>Data</h1>
	<div class="panel panel-default">
		<div class="panel-body">
			<h4 class="page-header">Upload a CSV file</h4>
			<div class="upload-area">
				<div ngf-drop ngf-select ng-model="files" class="drop-box" 
		        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
		        accept=".csv,.json" ngf-pattern="'.csv,.json'">
	        		Drop files here or click to upload
		    	</div>
			</div>

			<h4 class="page-header">Existing Entities</h4>
            <div class="well">
                <button class="btn btn-primary btn-lg btn-block" ng-click="goToRelationships()">Manage Relationships</button>
            </div>
            <br>
            <table class="table table-bordered table-striped table-condensed">
                <tbody>
                    <tr ng-repeat="entity in entities">
                        <td class="col-xs-11 col-sm-11 col-md-11">
                            <h5><a href="/data/{{entity._id}}">{{ entity.label }}</a></h5>
                        </td>
                        <td class="col-xs-1 col-sm-1 col-md-1">
                            <button ng-click="deleteDataModal(entity)" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h5>Total number of entities: {{entityCount.count}}</h5>
		</div>
	</div>
</div>