<div class="modal-header">
    <h3 class="modal-title">New Relationship</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="alert alert-info" role="alert">
            <p>You can define define directed and undirected relationship by selecting "Relationship Type" at the bottom.</p>
        </div>
        <div class="col-xs-6 col-md-4">
            <h5>Entity 1</h5>
            <select class="form-control input-lg" ng-options="entity.label for entity in entities" ng-model="fromEntity"></select>
            <h5>Key</h5>
            <select class="form-control input-lg" ng-options="attr.name for attr in fromEntity.dimensions" ng-model="attribute1"></select>
            <h5>Entity 2</h5>
            <select class="form-control input-lg" ng-options="entity.label for entity in entities" ng-model="toEntity"></select>
            <h5>Key</h5>
            <select class="form-control input-lg" ng-options="attr.name for attr in toEntity.dimensions" ng-model="attribute2"></select>
            <h5>Relationship Type</h5>
            <select class="form-control input-lg" ng-model="directed">
                <option value=1>Directed</option>
                <option value=0>Undirected</option>
            </select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="save()">OK</button>
</div>