<div class="container">
    <a class="btn btn-warning pull-left" href="#" onclick="window.history.back();return false;">
        Back to Data
    </a>
    <br>
    <h1>Relationships</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="well">
                <button class="btn btn-success btn-lg btn-block" ng-click="addRelationshipModal()">Define new relationship</button>
            </div>

            <div ng-repeat="entity in entities">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="col-xs-11 col-sm-11 col-md-11">Relationships of {{entity.label}}</th>
                            <th class="col-xs-1 col-sm-1 col-md-1">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="link in entity.links track by $index">
                            <td class="col-xs-11 col-sm-11 col-md-11">
                                {{ createLinkText(entity.label, link) }}
                            </td>
                            <td class="col-xs-1 col-sm-1 col-md-1">
                                <button ng-click="removeRelationship(entity, link, $index)" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
