<div class="container">
    <a class="btn btn-warning pull-left" href="#" onclick="window.history.back();return false;">
        Back to Data
    </a>
    <br>
    <div>
        <div ng-if="!item.showEditor">
            <h1>{{ entity.label }}</h1>
        </div>
        <div ng-if="item.showEditor">
            <div>
                <p>
                    <textarea ng-model="entity.label" cols="40" rows="2"></textarea>
                </p>
            </div>
        </div>
        <a title="Edit" ng-click="item.showEditor = !item.showEditor; setEntityLabel(entity.label)">
            Edit entity name
        </a>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="page-header">Attribute List</h2>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Attribute Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in entity.dimensions">
                        <td class="col-xs-8 col-sm-8 col-md-8">{{ item.name }}</td>
                        <td class="col-xs-4 col-sm-4 col-md-4">
                            <div ng-if="!item.showEditor">
                                {{ item.description }}
                            </div>
                            <div ng-if="item.showEditor">
                                <div>
                                    <p>
                                        <textarea ng-model="item.description" cols="20" rows="5"></textarea>
                                    </p>
                                </div>
                            </div>
                            <button class="btn btn-warning" ng-click="item.showEditor = !item.showEditor; setAttributeDescription(item)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h2 class="page-header">Relationships</h2>
            <div ng-if="!entityHasRelationship()">
                <p>No relationship is defined.</p>
            </div>
            <div ng-if="entityHasRelationship()">
                <table class="table table-bordered table-striped table-condensed">
                    <tbody>
                        <tr ng-repeat="link in entity.links track by $index">
                            <td class="col-xs-11 col-sm-11 col-md-11">
                                {{ createLinkText(entity.label, link) }}
                            </td>
                            <td class="col-xs-1 col-sm-1 col-md-1">
                                <button ng-click="removeRelationship(entity, link, $index)" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

