
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in</h1>
            <alert ng-show="lc.error" type="danger">
                <small>{{ lc.error }}</small>
            </alert>
            <div class="account-wall">
                <img class="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="">
                <form class="form-signin">
                    <input type="text" class="form-control" ng-model="lc.credentials.email" placeholder="Email" required autofocus>
                    <input type="password" class="form-control" ng-model="lc.credentials.password" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="lc.login()">
                        Sign in</button>
                    
                    <a href="/resetpw" class="pull-right need-help">Forgot password? </a><span class="clearfix"></span>
                </form>
            </div>
            <a href="/register" class="text-center new-account">Create an account </a>
        </div>
    </div>
</div>
