.endpoint_TopCenter, .endpoint_BottomCenter, .endpoint_LeftMiddle, .endpoint_RightMiddle {
    display:inline-block;
}

js-plumb-canvas{
    /*background-image:url(/images/grid_background.gif);*/
    /*background-repeat: repeat;*/
    width: 1000000px;
    height: 1000000px;
    position: relative;
    left:-100px;
    top:-100px;
}

.window:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity:0.6;
    filter:alpha(opacity=60);
}

/* must specify height for correctly positioning the card content when resizing */
.ngTransclude {
    height: inherit;
}
