<div class="col-sm-12 nopadding slideshow-main" style="height:100%; overflow:hidden;">
    <div class="panel panel-primary" style="height:{{ panelHeight }}px">
        <div class="panel-heading">
            <h3>
                {{ slideshow.name }}
                <small>
                    <a class="btn btn-link" href="{{originalExplorationLink}}">
                        View Original Exploration <i class="fa fa-street-view"></i>
                    </a>
                </small>
            </h3>
        </div>

        <div class="panel-body" style="height:{{ panelBodyHeight }}px">
            <fullscreen-container
                id="slide-content"
                ng-keyup="handleKeyboard($event)"
                on-next-key="nextCard"
                on-previous-key="previousCard">
                <div style="height:{{ slideshowContentHeight }}px">
                    <div ng-class="{
                        fsbackground:true,
                        reveal:true,
                        isfullscreen:test,
                        notfullscreen:!test,
                        storyviewer:true}"
                        style="height:{{ slideshowContentHeight }}px">
                        <div id="slideCenter" style="height:{{ slideHeight }}px">
                            <div ng-if="fullscreenObjects[slideIndex].type === 'trail'" style="height:{{ slideHeight }}px; zoom: {{ slideCenterZoom }}">
                                <h4 class="chart-title">{{fullscreenObjects[slideIndex].subtitle}}</h4>

                                <h5>
                                    {{ getEntityLabel(fullscreenState.entityId) }}
                                </h5>

                                <!-- if dependent entity is missing -->
                                <div ng-if="!fullscreenObjects[slideIndex].entityId">
                                    <div class="alert alert-warning" role="alert">
                                        <i class="fa fa-chain-broken fa-2x" aria-hidden="true"></i>
                                        <h5>Data source is missing! It may have been removed.</h5>
                                    </div>
                                </div>

                                <div ng-if="fullscreenObjects[slideIndex].entityId">
                                    <div ng-if="fullscreenState">
                                        <div ng-if="fullscreenObjects[slideIndex].chartType === 'gp'">
                                            <div gatherplot
                                                data="entityDataObjectsList[fullscreenState.id]"
                                                config="fullscreenState.gatherConfig"
                                                xdim="{{fullscreenState.gatherConfig.xDim}}"
                                                ydim="{{fullscreenState.gatherConfig.yDim}}"
                                                border="fullscreenState.gatherBorder"
                                                round="fullscreenState.gatherRound"
                                                shaperenderingmode="fullscreenState.gatherShapeRendering"
                                                context="fullscreenState.context"
                                                dimsum="fullscreenState.dimsum"
                                                zoom="zoomlevel"
                                                istoolbar="false"
                                                style="height:470px">
                                            </div>

                                            <div class="chart-simple-interface">
                                                Show me
                                                <select
                                                    ng-model="fullscreenState.gatherConfig.xDim"
                                                    ng-options="dimension.name as dimension.name for dimension in {{ getEntityDimensions(fullscreenState.entityId) }}"
                                                    ng-change="fullscreenSetXDim(fullscreenState)">
                                                    <option value="">-- undefined --</option>
                                                </select>&nbsp;vs&nbsp;.
                                                <select
                                                    ng-model="fullscreenState.gatherConfig.yDim"
                                                    ng-options="dimension.name as dimension.name for dimension in {{ getEntityDimensions(fullscreenState.entityId) }}"
                                                    ng-change="fullscreenSetYDim(fullscreenState)">
                                                    <option value="">-- undefined --</option>
                                                </select>
                                                <br> Mark nodes with color according to
                                                <select
                                                    ng-model="fullscreenState.gatherConfig.colorDim"
                                                    ng-options="dimension.name as dimension.name for dimension in {{ getEntityDimensions(fullscreenState.entityId) }}"
                                                    ng-change="fullscreenSetColorDim(fullscreenState)">
                                                    <option value="">-- undefined --</option>
                                                </select>
                                                <br>
                                                <input
                                                    type='checkbox'
                                                    ng-model="fullscreenState.gatherConfig.relativeMode"
                                                    ng-true-value="'relative'"
                                                    ng-false-value="'absolute'"
                                                    ng-change="fullscreenSetMode(fullscreenState)">
                                                    Check this to make it easy to compare groups of different sizes.
                                                <!-- <input type='checkbox' ng-model="state.gatherRound" ng-trueValue="relative" ng-false-value="'absolute'">Check this to make the object rounded rectangle.
                                                    <br> -->
                                                <br>
                                            </div>
                                        </div>

                                        <div ng-if="fullscreenObjects[slideIndex].chartType === 'bar'">
                                            <nvd3 data="entityDataObjectsList[fullscreenState.id]"
                                                options="disBarOptSlideFs"></nvd3>

                                            <div class="chart-simple-interface">
                                                Show me
                                                <select ng-model="fullscreenState.chartConfig.selection.dimName"
                                                        ng-options="dimension.name as dimension.name for dimension in {{ getEntityDimensions(fullscreenState.entityId) }}"
                                                        ng-change="fullscreenUpdateChartDim(fullscreenState)">
                                                    <option value="">-- undefined --</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div ng-if="fullscreenObjects[slideIndex].chartType === 'pie'">
                                            <nvd3 data="entityDataObjectsList[fullscreenState.id]"
                                                options="pieOptSlideFs"></nvd3>

                                            <div class="chart-simple-interface">
                                                Show me
                                                <select ng-model="fullscreenState.chartConfig.selection.dimName"
                                                        ng-options="dimension.name as dimension.name for dimension in {{ getEntityDimensions(fullscreenState.entityId) }}"
                                                        ng-change="fullscreenUpdateChartDim(fullscreenState)">
                                                    <option value="">-- undefined --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="fullscreenObjects[slideIndex].type === 'md'" style="height:{{ slideHeight }}px">
                                <div id="slideshow-md-content" style="transform: translate(-50%,-50%) scale( {{ fullscreenObjects[slideIndex].scaleFactor }} )">
                                    <h4>{{fullscreenObjects[slideIndex].subtitle}}</h4>
                                    <div marked="fullscreenObjects[slideIndex].markdown"></div>
                                </div>
                            </div>
                        </div>

                        <div id="slideNav">
                            <div class="pull-left">
                                <button class="btn btn-default" ng-disabled='index == 0' ng-click="previousCard()">
                                    <i class="fa fa-chevron-circle-left"></i> Previous
                                </button>

                                {{index}}

                                <button class="btn btn-default" ng-disabled='index == fullscreenObjects.length - 1' ng-click="nextCard()">
                                    Next <i class="fa fa-chevron-circle-right"></i>
                                </button>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-link ">
                                    <fullscreen-toggle zoom="zoomlevel" on-full="setFullScreen(isFullScreen)">
                                        Slideshow<i class="fa fa-play"></i>
                                    </fullscreen-toggle>
                                </a>

                                <a ng-show="fullscreenObjects[slideIndex].type === 'trail' && fullscreenObjects[slideIndex].entityId"
                                    class="btn btn-link"
                                    href="{{originalExplorationLink}}"
                                    ng-click="findCardInTrail(fullscreenState)">
                                    Explore
                                    <i class="fa fa-street-view"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tooltip" ng-show="isFullScreen"></div>
                </div>
            </fullscreen-container>
        </div>
    </div>
</div>
