<div class="log-detail container">
  <h1>Here are the details of the log</h1>
  <form name="form" ng-submit="save()" novalidate>
    <input class="form-control" type="text" placeholder="name" ng-model="log.name" />
    <span class="input-group-btn">
      <input class="btn btn-primary" type="submit" value="Save" />
      <input class="btn" type="button" ng-click="reset()" value="Reset" />
    </span>
  </form>

  <json-formatter json="myJson" open="1"></json-formatter>
</div>
