<div class="logs-list container">
  <h1>Logs</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="input-group pull-right col-md-6 col-sm-12">
        <input type="search" ng-model="search" placeholder="Search by Username" class="form-control"/>
        <div dropdown="" on-toggle="toggled(open)" class="dropdown input-group-btn">
          <button dropdown-toggle="" class="btn btn-primary dropdown-toggle">{{ orderProperty==='1' ? 'Ascending' : 'Descending' }}<span class="caret"></span></button>
          <ul role="menu" class="dropdown-menu">
            <li ng-click="orderProperty='1'">Ascending</li>
            <li ng-click="orderProperty='-1'">Descending</li>
          </ul>
        </div>
      </div>
      <ul class="nav nav-tabs nav-stacked col-md-9 col-sm-12">
        <li dir-paginate="log in logs | itemsPerPage: perPage" total-items="logsCount.count">
          <p><a href="/logs/{{log._id}}">{{ log.name }}</a>
            <button ng-click="remove(log)" class="btn">&times;</button>
          </p>
        </li>
      </ul>
      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="col-md-12"></dir-pagination-controls>
    </div>
  </div>
  <p>Total number of logs: {{logsCount.count}}</p>
</div>
